body {
    font-family:Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* For Sign Up Container */
.container {
    padding: 16px; /* size inside */
}

input[type=text], input[type=password] {
    width: 100%; /* width on the right side */
    padding: 15px; /* size on the inside */
    margin: 5px 0 22px 0; /* size for outside bottom, left-side, */
    display: inline-block; /*to make it center*/
    border: none; /* no border for inputs */
    background: #f1f1f1; /* background color for inside input */
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd; /* background color when click */
    outline: none; /* outline for outside the border */
}

.registerbtn {
    background-color: #04AA6D;
    color: white; /* color for text */
    padding: 16px 20px; /* size on the inside */
    margin: 8px 0; /* size for the outside left */
    border: none;
    cursor: pointer; /* change to pointer */
    width: 100%; /* change width to the right */
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1; /* change the opacity to pure green */
}

a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

/* For Alert */
.alert {
    padding: 20px;
    color: white;
}

.alert.success {
    background-color: #04AA6D;
}

.alert.danger {
    background-color: #f44336;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* For Password Validation */
/* The message box is shown when the user clicks on the password field */
.message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

button:disabled {
    background: #ccc;
}